@page
@model WebApp.Areas.Identity.Pages.Account.AwaitingApproval

@{
    ViewData["Title"] = "Awaiting approval";
}

<header>
    <h2 class="text-danger">
        This account must be approved
    </h2>
</header>